<section class="container__place--add">
  <h2>Add a place</h2>
  <form autocomplete="off" [formGroup]="newPlaceFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="*required" formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        placeholder="*required"
        formControlName="content"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Latitude</mat-label>
      <input matInput placeholder="optional" formControlName="lat" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Longitude</mat-label>
      <input matInput placeholder="optional" formControlName="long" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput placeholder="optional" formControlName="image_url" />
    </mat-form-field>

    <button
      mat-stroked-button
      (click)="add()"
      [disabled]="!newPlaceFormGroup.valid"
    >
      Add place
    </button>
  </form>
</section>

<section class="container__place--list">
  <h2>List of all places</h2>

  <table *ngIf="places">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let place of places">
      <td>
        <span>{{ place.id }}</span>
      </td>

      <td>
        <a routerLink="/detail/{{ place.id }}">
          {{ place.title }}
        </a>
      </td>
      <td id="data__button--delete">
        <button
          mat-icon-button
          title="delete place"
          aria-label="button with an x icon"
          (click)="delete(place)"
          submit
        >
          <mat-icon>close</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</section>
