<section class="container__place--add">
  <h2>Add a place</h2>
  <form autocomplete="off" [formGroup]="newPlaceFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="*required" formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        placeholder="*required"
        formControlName="content"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Latitude</mat-label>
      <input matInput placeholder="optional" formControlName="lat" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Longitude</mat-label>
      <input matInput placeholder="optional" formControlName="long" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput placeholder="optional" formControlName="image_url" />
    </mat-form-field>

    <button
      mat-stroked-button
      (click)="add()"
      [disabled]="!newPlaceFormGroup.valid"
    >
      Add place
    </button>
  </form>
</section>

<section class="container__place--list">
  <h2>List of all places</h2>
  <ul>
    <li *ngFor="let place of places">
      <a routerLink="/detail/{{ place.id }}">
        <span class="badge">{{ place.id }}.</span> {{ place.title }}
      </a>

      <button
        mat-icon-button
        title="delete place"
        aria-label="button with an x icon"
        (click)="delete(place)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </li>
  </ul>
</section>
