$container-max-width: 300px;

:host {
  section {
    margin: 0 auto;
    max-width: $container-max-width;

    &.container__place--add {
      margin-bottom: 40px;

      form {
        display: flex;
        flex-direction: column;
      }
    }

    &.container__place--list {
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
