<section *ngIf="place">
  <h2>{{ place.title | uppercase }} Details</h2>

  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="place.title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Content</mat-label>
    <textarea matInput [(ngModel)]="place.content"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Latitude</mat-label>
    <input matInput [(ngModel)]="place.latitude" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Longitude</mat-label>
    <input matInput [(ngModel)]="place.longitude" />
  </mat-form-field>

  <img
    *ngIf="place.image_url"
    [src]="place.image_url"
    [alt]="'picture of' + place.title"
  />

  <mat-form-field appearance="outline">
    <mat-label>Image</mat-label>
    <input matInput [(ngModel)]="place.image_url" />
  </mat-form-field>

  <div class="container__action--buttons">
    <button mat-stroked-button (click)="goBack()">go back</button>
    <button
      mat-stroked-button
      (click)="save()"
      [disabled]="!place.title || !place.content"
    >
      save
    </button>
  </div>
</section>
