$container-max-width: 300px;

:host {
  section {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 15px;
    }

    .container__action--buttons {
      display: flex;
      justify-content: space-between;

      margin-bottom: 30px;

      button {
        width: 49%;
      }
    }
  }

  .container__map {
    height: 300px;
    max-width: 400px;
    margin: 0 auto;
  }
}
