$container-max-width: 300px;

:host {
  section {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 15px;
    }

    .container__action--buttons {
      display: flex;
      justify-content: space-between;

      button {
        width: 49%;
      }
    }
  }
}
